In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [5]:
path = r'C:\Users\nickr\OneDrive\Documents\Nick Bootcamp\Python\Instacart Basket Analysis'

In [7]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [9]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [11]:
# Create a dataframe
df_test = pd.DataFrame()

In [13]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [17]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [23]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\9692384.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [25]:
df_test['mix'] = df_test['mix'].astype('str')

In [27]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [29]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [31]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [33]:
df_prods.shape

(49693, 5)

In [35]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [37]:
df_prods_clean.shape

(49677, 5)

In [39]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [41]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [43]:
df_prods_clean.shape

(49677, 5)

In [47]:
# Product dataframe removing duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [49]:
df_prods_clean_no_dups.shape

(49672, 5)

# Exercise 4.5

In [52]:
# 2. Orders dataframe
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_days_of_week,hour_of_day_ordered,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [54]:
# Hour of day ordered max is only 2.3 when the max available is 24.

In [56]:
# 3. Checking for mixed type data in orders
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\nickr\AppData\Local\Temp\ipykernel_12020\391840076.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

# I do not understand what this result means. What is FutureWarning?

In [59]:
# 5. Checking for missing values in orders
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_days_of_week            0
hour_of_day_ordered            0
days_since_prior_order    206209
dtype: int64

In [61]:
# 5. 206209 missing values for days since prior order. This could exist for new customers placing their first order ever with Instacart.

In [63]:
# 6. Creating a new dataframe removing the missing values to record as "repeat customers"
df_ords_repeat_customer = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [65]:
df_ords_repeat_customer.shape

(3214874, 7)

In [67]:
# I created a repeat customers dataframe as the missing values most likely indicate brand new customers using instacart for the first time.
# These missing values are important and should be kept.

In [69]:
# 7. Checking for duplicates in orders
df_ords_dups = df_ords[df_ords.duplicated()]

In [71]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_days_of_week, hour_of_day_ordered, days_since_prior_order]
Index: []

In [73]:
# 7. 0 duplicates are recorded. No action is required.

In [75]:
# 8. Exporting data
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [77]:
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))